header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  // background: rgba(0, 0, 0, 0.01);
  color: red;
  h1 {
    font-size: 7rem;
    font-family: $logo-font;
    margin: 0 auto;
    // margin: 2rem 0 0.5rem 10rem;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 2.1rem;
  }

  nav {
    vertical-align: middle;
    display: inline-block;
    margin: 2rem;
    justify-content: right;
  }

  nav a {
    text-decoration: none;
    color: white;
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
  }
  nav a:hover {
    color: gray;
  }
  .band-logo {
    margin: 0 auto;
    margin-top: 0.7rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: inline-flex;
    flex-direction: column;
    color: red;
    h1 {
      text-align: center;
      margin: 0 auto;
      margin-top: 1rem;
    }
    h2 {
      margin-bottom: 1rem;
    }
    nav {
      text-align: center;
      margin-top: 1rem;
    }
  }
  .flex-container .section h2:before {
    padding: 4rem;
  }
}
