header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 15rem;
  margin-top: 0;
  top: 0;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  transition: 0.8s;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // flex-flow: row wrap;
  // background: rgba(0, 0, 0, 0.01);

  h1 {
    font-size: 8rem;
    font-family: $logo-font;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    // margin: 2rem 0 0.5rem 10rem;
  }
  h2 {
    text-align: center;
    font-size: 2.9rem;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: $off-white;
    font-size: 2.1rem;
  }

  nav {
    margin: 0 auto;
    margin-top: 3rem;
    margin-left: 30%;
  }

  nav a {
    text-decoration: none;
    color: $off-white;
    margin: 0 auto;

    display: inline-block;
  }
  nav a:hover {
    color: gray;
  }
  .band-logo {
    margin: 0 auto;
    margin-top: 0.7rem;
    justify-content: center;
  }
}

.hem {
  transition: 0.09s ease-in-out;
}
.header-dark {
  color: $off-black !important;
}

.social-icons {
  display: inline;
  li {
    display: inline;
    margin: 30px;
  }
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 3rem;
  }
  header {
    h1 {
      font-size: 4rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: inline-flex;
    flex-direction: column;

    h1 {
      font-size: 3rem;
      text-align: center;
      margin: 0 auto;
      margin-top: 1rem;
    }
    h2 {
      margin-bottom: 0.1rem;
      display: none;
    }
    nav {
      text-align: center;
      margin: 0 auto;
      margin-left: auto;
      margin-top: 0.1rem;
      a {
        font-size: 2.5rem;
      }
    }
  }
  .flex-container .section h2:before {
    padding: 3rem;
  }
}
