header {
  position: fixed;
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  h1 {
    font-size: 48px;
  }

  nav a {
    text-decoration: none;
    color: white;
  }
  nav a:hover {
    color: gray;
  }
}
