@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

@import "partials/reset";
@import "partials/variables";
@import "partials/fonts";
@import "partials/anchor";
@import "partials/header";
@import "partials/homepage";
@import "partials/store";
@import "partials/storebutton";

body {
  background: $off-black;
  margin: 0px;
  font-family: "BebasNeue";
  font-size: 3rem;
  box-sizing: border-box;
  // overflow: hidden;
}
